.big_input {
    height: 102px !important;
}
hr:last-of-type {
    border-color: red;
    visibility: hidden;
}
.top-buffer {
    margin-top: 20px;
}
.flash {
    color: red !important;
}
.navbar-right-last {
    margin-right: 15px !important;
    padding-right: 0px !important;
}
#signinButton {
    height: 34px;
}
[id="___signin_0"] {
    height: 34px !important;
}
iframe {
    height: 34px !important;
}
