{% extends "topbar.html" %} {% block createuser %}
<div class="container">
    <div class="jumbotron">
        <h2>Create your account for the Heavy Metal Item Data Base</h2>
        <form class="form-inline" method="post" action="/adduser" role="form">
            <div class="form-group">
                    <input class="form-control" type="text" placeholder="Username" name="newusername">
                    <input class="form-control" type="password" placeholder="Password" name="newpassword">
                <button class="btn btn-default" type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
