{% extends "topbar.html" %} {% block main %}
<div class="row">
    <form method="post" action="/newcategory">
            <input type="text" placeholder="Category Name" name="newcategory">
        <button type="submit">Create new category</button>
    </form>
    </div>
    <hr /> {%for c in categories %}
    <div class="row_margin_20">
        <div class="col-6">
            <h2>{{c.name}}</h2>
            <a href="{{url_for('newitem', categoryid = c.id)}}">Create new Metal item</a>
        </div>
        <div class="col-6">
            {%for i in items%} {%if i.category_id is equalto c.id%}
            <div class="row_margin_20 ">
                <div class="col-4">
                    {{i.title}}
                </div>
                <div class="col-4">
                  <a href="{{url_for('deleteitem', itemid = i.id)}}">delete item</a>
                </div>
                <div class="col-4">
                  <a href="{{url_for('updateitem', itemid = i.id)}}">edit item</a>
                </div>
            </div>
            {%endif%} {%endfor%}
        </div>
    </div>
    <hr /> {%endfor%}

{% endblock %}
