{% extends "topbar.html" %} {% block main %}
<div class="row">
    <form method="post" action="/newcategory">
        <input type="text" placeholder="Category Name" name="newcategory">
        <button type="submit">Create new category</button>
    </form>
</div>
<hr /> {%for c in categories %}
<div class="row_header">
    <h2>{{c.name}}</h2>
    <form method="get" action="{{url_for('newitem', categoryid = c.id)}}">
        <button type="submit">Create new item</button>
    </form>
    <form method="post" action="{{url_for('deletecategory', categoryid = c.id)}}">
        <button type="submit">Delete Category</button>
    </form>
</div>
<div class="col_100">
    {%for i in items%} {%if i.category_id is equalto c.id%}
    <div class="row">
        <div class="col_100">
            {{i.title}}
        </div>
        <div class="col_100">
            <a href="{{url_for('deleteitem', itemid = i.id)}}">delete item</a>
        </div>
        <div class="col_100">
            <a href="{{url_for('updateitem', itemid = i.id)}}">edit item</a>
        </div>
    </div>
    {%endif%} {%endfor%}
</div>
</div>
<hr /> {%endfor%} {% endblock %}
