{% extends "topbar.html" %} {% block main %}
<div class="container">
    <form class="form-inline" method="post" action="/newcategory">
        <input class="form-control" type="text" placeholder="Category Name" name="newcategory" id="newcategory">
        <button class="btn btn-default" type="submit">Create new category</button>
        <button class="btn btn-default" type="button" onclick="toggleAllItems()">
            Show / hide all items
        </button>
    </form>
    <hr />
</div>
<div class="container">
    {%for c in categories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{c.name}}</h2>
            <form class="form-inline">
                <button class="btn btn-default" formmethod="get" formaction="{{url_for('newitem', categoryid = c.id)}}" type="submit">Create new item</button>
                <button class="btn btn-default" formmethod="get" formaction="{{url_for('updatecategory', categoryid = c.id)}}" type="submit">Edit Category</button>
                <button class="btn btn-default" formmethod="post" formaction="{{url_for('deletecategory', categoryid = c.id)}}" type="submit">Delete Category</button>
                <button class="btn btn-default" type="button" onclick="$('#toggleitem{{c.id}}').slideToggle();">
                    Show Hide Items</button>
            </form>
        </div>
        <div class="panel-body toggleall" id="toggleitem{{c.id}}">
            {%for i in items%} {%if i.category_id is equalto c.id%}
            <h3>
                {{i.title}}
          </h3>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{url_for('deleteitem', itemid = i.id)}}">delete item</a>
                    <a href="{{url_for('updateitem', itemid = i.id)}}">edit item</a>
                </div>
            </div>
            <div class="top-buffer">
                {{i.description}}
            </div>
            {%endif%} {%endfor%}
        </div>
    </div>
    {%endfor%} </div> {% endblock %}
