{% extends "topbar.html" %} {% block main %}
<div class="container">
    <div class="jumbotron">
        <h2>Create a new item for category {{categoryname}}</h2>
        <form class="form" method="post" action="{{url_for('newitem', categoryid = categoryid)}}">
            <input class="form-control" type="text" placeholder="Item Name" name="newitemtitle">
            <textarea class="form-control big_input" rows="1" cols="26" name="newitemdescription"></textarea>
            <button class="btn btn-default" type="submit">Create new item</button>
            <form method="post" action="{{url_for('metalitems')}}">
                <button class="btn btn-default" type="submit">Cancel</button>
            </form>
        </form>
    </div>
</div>
{% endblock %}
