<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
    <title>Paul's Heavy Metal Items Data Base</title>
    <link href="static/css.css" rel="stylesheet">

</head>

<body>

    <div>
        <div>
            <div>Paul's Heavy Metal Items Data Base</div>
        </div>
        <div>
            {%if session['logged_in'] %}
            <form method="post" action="/logout">
                <button type="submit">Log out</button>
            </form>
            {% endif %} {%if not session['logged_in'] %}
            <form method="post" action="/createuser">
                <button type="submit">Sign up</button>
            </form>
            <form method="post" action="/login">
                <div>
                    <input type="text" placeholder="Username" name="username">
                </div>
                <div>
                    <input type="password" placeholder="Password" name="password">
                </div>
                <button type="submit">Log in</button>
            </form>
            {% endif %}
        </div>
    </div>
    <hr /> {% with messages = get_flashed_messages() %} {% if messages %}
    <div>
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <hr /> {% block createuser %} {% endblock %}
</body>

</html>
