<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Paul's Heavy Metal Items Data Base</title>
    <link rel="shortcut icon" href="../static/favicon.ico" />
    <script src="../static/jquery-3.1.0.js"></script>
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css.css" rel="stylesheet">
    <script>
        function signInCallback(authResult) {
            auti = authResult['code'];
            if (authResult = ['code']) {
                $('#signinButton').attr('style', 'display:none');
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: auti,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        if (result) {
                            $('#result').html('Login succsessfull</br>' + result + '</br> Redirecting...')
                                /*setTimeout(function() {*/
                            window.location.href = "/metalitems";
                            /*  });*/
                        }
                    }
                })
            } else if (authResult['error']) {
                console.log(authResult);
            } else {
                console.log(authResult);
                $('#result').html('Failed to make server call! Check console and config.');
            }
        }
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Paul's Metal Items</a>
            </div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <ul class="nav navbar-nav">
                <li><a class="flash">{{ message }}</a>
                </li>
            </ul>
            {% endfor %} {% endif %} {% endwith %} {%if not session['logged_in'] %}
            <form class="navbar-form navbar-right navbar-right-last" method="post" action="/createuser">
                <div class="form-group">
                    <button type="submit" class="btn btn-default form-control">Sign up</button>
                </div>
            </form>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <div id="signinButton">
                        <span class="g-signin form-control" data-scope="openid email" data-clientid="766188622055-32f95k6e9868t9fjcs0kjlml6s1cpk3i.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback"
                            data-approvalprompt="force">
                      </span>
                    </div>
                </div>
            </form>
            <form class="navbar-form navbar-right " method="post " action="/login ">
                <div class="form-group ">
                    <input type="text " placeholder="username " class="form-control " name="username ">
                    <input type="password " placeholder="password " class="form-control " name="password ">
                    <button type="submit " class="btn btn-default ">Sign in</button>
                </div>
            </form>
            {%endif%} {%if session['logged_in'] %}
            <form class="navbar-form navbar-right navbar-right-last" method="post" action="/logout">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log out</button>
                </div>
            </form>
            {%endif%}
        </nav>
    </div>
    <div id="result">
    </div>
    {% block createuser %} {% endblock %} {% block welcome %} {% endblock %} {% block main %} {% endblock %}
    <script src="../static/js.js"></script>
</body>
